.banner{
  background-color: #000;
  display: flex;
}
.tamanho{
  
  height: 85vh;
}
.texto{
  color: #fff;
  font-family: 'Determination Mono Web';
  
  
}
.subtitulo{
  font-size: 3.5vh;
  width: 36vw;
}
.principal{
  font-size: 6.5vh;
  width: 37vw;
  line-height: 5.5vh;
}
.areaTextos{
  margin: 12vh 10vw;
  gap: 3vh;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.subtitulo .competencia {
  animation: cor 12s infinite;
}
@keyframes cor {
  0% { color: red; }
  14.3% { color: yellow; }
  28.6% { color: blue; }
  42.7% { color: #00eeff;}
  57.1% { color: #c800ff;}
  71.4% { color: #4ffc04;}
  85.7% { color: #ff7b00;}
  100% { color: red;}
}
.subtitulo .textoUndertalizado{
  font-family: 'Monster Friend Fore';
  font-size: 1.5vh;
}
.buttonBanner{
  position: relative;
  background-color: transparent;
  border: 0.6vh solid white;
  font-size: 5vh;
  padding: 2vh 3vh 2vh 6vh;
  margin-top: 4vh;
}
.alma{
  font-family: 'Press Start 2P Regular';
  font-size: 4vh;
  position: absolute;
  bottom: 2.5vh;
  left: 1.5vh;
  color: #000
}
.buttonBanner:hover, .buttonBanner:focus{
  border: 0.6vh solid #ffff00;
  color: #ffff00;
  outline: none;
}
.buttonBanner:hover .alma, .buttonBanner:focus .alma{
  color: red;
}
.imgBanner{
  height: 50vh;
  width: 50vh;
  background-size: cover;
  animation: img 12s infinite;
}
@keyframes img {
  0% { 
    background-image: url('../assets/imgs/determinacao.png'); 
  }
  14.3% { 
    background-image: url('../assets/imgs/justica.png');
  }
  28.6% { 
    background-image: url('../assets/imgs/integridade.png'); 
  }
  42.7% { 
    background-image: url('../assets/imgs/paciencia2.png');
  }
  57.1% { 
    background-image: url('../assets/imgs/perseveranca.png');
  }
  71.4% { 
    background-image: url('../assets/imgs/bondade.png'); 
  }
  85.7% { 
    background-image: url('../assets/imgs/bravura.png');
  }
  100% { 
    background-image: url('../assets/imgs/determinacao.png'); 
  }
}
.areaImg{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  height: 75vh;
}
.areaTxtAlma{
  display: flex;
  position: relative;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.txtDeterminacao, .txtJustica, .txtIntegridade, .txtPaciencia, .txtBravura, .txtPerseveranca, .txtBondade{
  position: absolute;
  font-size: 7vh;
  color: #fff;
  font-family: 'Determination Mono Web';
}
.txtDeterminacao{
  color: red;
  animation: determinacao 12s infinite;
}
.txtJustica{
  color: yellow;
  animation: justica 12s infinite;
}
.txtIntegridade{
  color: blue;
  animation: integridade 12s infinite;
}
.txtPaciencia{
  color: #00eeff;
  animation: paciencia 12s infinite;
}
.txtPerseveranca{
  color: #c800ff;
  animation: perseveranca 12s infinite;
}
.txtBondade{
  color: #4ffc04;
  animation: bondade 12s infinite;
}
.txtBravura{
  color: #ff7b00;
  animation: bravura 12s infinite;
}


.comDeterminacao{
  color: red;
  animation: deDeterminacao 12s infinite;
}
.comJustica{
  color: yellow;
  animation: deJustica 12s infinite;
}
.comIntegridade{
  color: blue;
  animation: deIntegridade 12s infinite;
}
.comPaciencia{
  color: #00eeff;
  animation: dePaciencia 12s infinite;
}
.comPerseveranca{
  color: #c800ff;
  animation: dePerseveranca 12s infinite;
}
.comBondade{
  color: #4ffc04;
  animation: deBondade 12s infinite;
}
.comBravura{
  color: #ff7b00;
  animation: deBravura 12s infinite;
}
@keyframes determinacao {
  0% {opacity: 1;}
  14.3% {opacity: 0;}
  28.6% {opacity: 0;}
  42.7% {opacity: 0;}
  57.1% {opacity: 0;}
  71.4% {opacity: 0;}
  85.7% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes justica {
  0% {opacity: 0;}
  14.3% {opacity: 1;}
  28.6% {opacity: 0;}
  42.7% {opacity: 0;}
  57.1% {opacity: 0;}
  71.4% {opacity: 0;}
  85.7% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes integridade {
  0% {opacity: 0;}
  14.3% {opacity: 0;}
  28.6% {opacity: 1;}
  42.7% {opacity: 0;}
  57.1% {opacity: 0;}
  71.4% {opacity: 0;}
  85.7% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes paciencia {
  0% {opacity: 0;}
  14.3% {opacity: 0;}
  28.6% {opacity: 0;}
  42.7% {opacity: 1;}
  57.1% {opacity: 0;}
  71.4% {opacity: 0;}
  85.7% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes perseveranca {
  0% {opacity: 0;}
  14.3% {opacity: 0;}
  28.6% {opacity: 0;}
  42.7% {opacity: 0;}
  57.1% {opacity: 1;}
  71.4% {opacity: 0;}
  85.7% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes bondade {
  0% {opacity: 0;}
  14.3% {opacity: 0;}
  28.6% {opacity: 0;}
  42.7% {opacity: 0;}
  57.1% {opacity: 0;}
  71.4% {opacity: 1;}
  85.7% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes bravura {
  0% {opacity: 0;}
  14.3% {opacity: 0;}
  28.6% {opacity: 0;}
  42.7% {opacity: 0;}
  57.1% {opacity: 0;}
  71.4% {opacity: 0;}
  85.7% {opacity: 1;}
  100% {opacity: 0;}
}


@keyframes deDeterminacao {
  0% {color: red;}
  14.3% {color: #fff}
  28.6% {color: #fff}
  42.7% {color: #fff}
  57.1% {color: #fff}
  71.4% {color: #fff}
  85.7% {color: #fff}
  100% {color: red;}
}
@keyframes deJustica {
  0% {color: #fff}
  14.3% {color: #ffff00}
  28.6% {color: #fff}
  42.7% {color: #fff}
  57.1% {color: #fff}
  71.4% {color: #fff}
  85.7% {color: #fff}
  100% {color: #fff}
}
@keyframes deIntegridade {
  0% {color: #fff}
  14.3% {color: #fff}
  28.6% {color: blue}
  42.7% {color: #fff}
  57.1% {color: #fff}
  71.4% {color: #fff}
  85.7% {color: #fff}
  100% {color: #fff}
}
@keyframes dePaciencia {
  0% {color: #fff}
  14.3% {color: #fff}
  28.6% {color: #fff}
  42.7% {color: #00eeff}
  57.1% {color: #fff}
  71.4% {color: #fff}
  85.7% {color: #fff}
  100% {color: #fff}
}
@keyframes dePerseveranca {
  0% {color: #fff}
  14.3% {color: #fff}
  28.6% {color: #fff}
  42.7% {color: #fff}
  57.1% {color: #c800ff}
  71.4% {color: #fff}
  85.7% {color: #fff}
  100% {color: #fff}
}
@keyframes deBondade {
  0% {color: #fff}
  14.3% {color: #fff}
  28.6% {color: #fff}
  42.7% {color: #fff}
  57.1% {color: #fff}
  71.4% {color: #4ffc04}
  85.7% {color: #fff}
  100% {color: #fff}
}
@keyframes deBravura {
  0% {color: #fff}
  14.3% {color: #fff}
  28.6% {color: #fff}
  42.7% {color: #fff}
  57.1% {color: #fff}
  71.4% {color: #fff}
  85.7% {color: #ff7b00}
  100% {color: #fff}
}

.Sobre{
  display: flex;
  height: 100vh;
  background-color: #000;
  padding: 5vh 20vh; 
  flex-direction: column;
  align-items: center;
}
.tituloSobre{
  font-weight: normal;
  font-size: 10vh;
  margin-block-end: 0;
  margin-block-start: 0;
  color: #fff;
  font-family: 'Determination Mono Web';
}
.imgAlmas{
  height: 50vh;
  width: 51vh;
 background-color: #00eeff;
 background-image: url(../assets/imgs/almas.png);
 background-size: cover;
}
.conteudoSobre{
  margin-top: 15vh;
  display: flex;
  gap: 10vw;
}
.msgSobre{
  width: 40vw;
  font-size: 5vh;
}
.Desenvolvimento{
  display: flex;
  height: 100vh;
  background-color: #000;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.tituloTamanho{
  font-size: 2.6vw;
}
.tituloDesenvolvimento{
  -webkit-text-stroke: 1px black;
  font-weight: normal;
  font-size: 10vh;
  margin-block-end: 0;
  z-index: 2;
  margin-block-start: 0;
  color: #fff;
  font-family: 'Determination Mono Web';
}
.imgBackground{
  height: 100vh;
  position: absolute;
  width:85vw;
  z-index: 0;
  background-image: url(../assets/imgs/salaJulgamento.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caixaDialogo{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70vw;
  height: 20vh;
  background-color: #000;
  border: 1vh solid #fff;
  padding: 3vh;
  margin-top: 58vh;
}
.txtDialogo1{
  font-size: 5vh;
  animation: animarDialogo 30s steps(55, end) infinite;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  /* background-color: #4ffc04; */
}
.txtDialogo5{
  font-size: 5vh;
  animation: animarDialogo5 30s steps(55, end) infinite;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  /* background-color: #4ffc04; */
}
.txtDialogo2{
  font-size: 5vh;
  animation: animarDialogo2 30s steps(54, end) infinite;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: absolute;
  bottom: 12.7vh;
  white-space: nowrap;
  opacity: 0;
  /* background-color: #00eeff; */
}
.txtDialogo6{
  font-size: 5vh; 
  animation: animarDialogo6 30s steps(53, end) infinite;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: absolute;
  bottom: 12.7vh;
  white-space: nowrap;
  opacity: 0;
  /* background-color: #00eeff; */
}
.txtDialogo3{
  font-size: 5vh;
  animation: animarDialogo3 30s steps(47, end) infinite;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: absolute;
  bottom: 7.5vh;
  white-space: nowrap;
  opacity: 0;
  /* background-color: #c800ff; */
}
.txtDialogo7{
  font-size: 5vh;
  animation: animarDialogo7 30s steps(48, end) infinite;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: absolute;
  bottom: 7.5vh;
  white-space: nowrap;
  opacity: 0;
  /* background-color: #c800ff; */
}
.txtDialogo4{
  font-size: 5vh;
  animation: animarDialogo4 30s steps(40, end) infinite;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: absolute;
  bottom: 2.3vh;
  white-space: nowrap;
  opacity: 0;
  /* background-color: #ff7b00; */
}
.txtDialogo8{
  font-size: 5vh;
  animation: animarDialogo8 30s steps(22, end) infinite;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: absolute;
  bottom: 2.3vh;
  white-space: nowrap;
  opacity: 0;
  /* background-color: #ff7b00; */
}
@keyframes animarDialogo{
  
  0% {
    width: 0;
    opacity: 1;
  }
  12.5% {
    width: 67vw;
    opacity: 1;
  }
  25% {
    width: 67vw;
    opacity: 1;
  }
  37.5% {
    width: 67vw;
    opacity: 1;
  }
  50% {
    width: 67vw;
    opacity: 1;
  }
  50.1% {
    width: 67vw;
    opacity: 0;
  }
  62.5% {
    width: 67vw;
    opacity: 0;
  }
  75% {
    width: 67vw;
    opacity: 0;
  }
  87.5% {
    width: 67vw;
    opacity: 0;
  }
  100% {
    width: 67vw;
    opacity: 0;
  }
}
@keyframes animarDialogo2{
  0% {
    width: 0;
    opacity: 0;
  }
  12.5% {
    width: 0;
    opacity: 1;
  }
  25% {
    width: 65vw;
    opacity: 1;
  }
  37.5% {
    width: 65vw;
    opacity: 1;
  }
  50% {
    width: 65vw;
    opacity: 1;
  }
  50.1% {
    width: 65vw;
    opacity: 0;
  }
  62.5% {
    width: 65vw;
    opacity: 0;
  }
  75% {
    width: 65vw;
    opacity: 0;
  }
  87.5% {
    width: 65vw;
    opacity: 0;
  }
  100% {
    width: 65vw;
    opacity: 0;
  }
}
@keyframes animarDialogo3{
  0% {
    width: 0;
    opacity: 0;
  }
  12.5% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 1;
  }
  37.5% {
    width: 59vw;
    opacity: 1;
  }
  50% {
    width: 59vw;
    opacity: 1;
  }
  50.1% {
    width: 59vw;
    opacity: 0;
  }
  62.5% {
    width: 59vw;
    opacity: 0;
  }
  75% {
    width: 59vw;
    opacity: 0;
  }
  87.5% {
    width: 59vw;
    opacity: 0;
  }
  100% {
    width: 59vw;
    opacity: 0;
  }
}
@keyframes animarDialogo4{
  0% {
    width: 0;
    opacity: 0;
  }
  12.5% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 0;
  }
  37.5% {
    width: 0;
    opacity: 1;
  }
  50% {
    width: 55vw;
    opacity: 1;
  }
  50.1% {
    width: 55vw;
    opacity: 0;
  }
  62.5% {
    width: 55vw;
    opacity: 0;
  }
  75% {
    width: 55vw;
    opacity: 0;
  }
  87.5% {
    width: 55vw;
    opacity: 0;
  }
  100% {
    width: 55vw;
    opacity: 0;
  }
}
@keyframes animarDialogo5{
  0% {
    width: 0;
    opacity: 0;
  }
  12.5% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 0;
  }
  37.5% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  50.1% {
    width: 0;
    opacity: 1;
  }
  62.5% {
    width: 64vw;
    opacity: 1;
  }
  75% {
    width: 64vw;
    opacity: 1;
  }
  87.5% {
    width: 64vw;
    opacity: 1;
  }
  100% {
    width: 64vw;
    opacity: 1;
  }
}
@keyframes animarDialogo6{
  0% {
    width: 0;
    opacity: 0;
  }
  12.5% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 0;
  }
  37.5% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  50.1% {
    width: 0;
    opacity: 0;
  }
  62.5% {
    width: 0;
    opacity: 1;
  }
  75% {
    width: 61vw;
    opacity: 1;
  }
  87.5% {
    width: 61vw;
    opacity: 1;
  }
  100% {
    width: 61vw;
    opacity: 1;
  }
}
@keyframes animarDialogo7{
  0% {
    width: 0;
    opacity: 0;
  }
  12.5% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 0;
  }
  37.5% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  50.1% {
    width: 0;
    opacity: 0;
  }
  62.5% {
    width: 0;
    opacity: 0;
  }
  75% {
    width: 0;
    opacity: 1;
  }
  87.5% {
    width: 62vw;
    opacity: 1;
  }
  100% {
    width: 62vw;
    opacity: 1;
  }
}
@keyframes animarDialogo8{
  0% {
    width: 0;
    opacity: 0;
  }
  12.5% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 0;
  }
  37.5% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  50.1% {
    width: 0;
    opacity: 0;
  }
  62.5% {
    width: 0;
    opacity: 0;
  }
  75% {
    width: 0;
    opacity: 0;
  }
  87.5% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 68vw;
    opacity: 1;
  }
}
.Valores{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}
.conteudoValores{
  display: flex;
  align-items: center;
  margin-top: 15vh;
  height: 52vh;
  width: 67vw;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  /* background-color: #00eeff; */
  padding: 0 1vw;
  gap: 3vw;
}
.conteudoValores::-webkit-scrollbar {
  display: none;
}
.competenciaBloco{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3vh;
  flex: 0 0 auto;
  height: 50vh;
  width: 20vw;
  background-color: #000;
}
.compDeterminacao{
  box-shadow: 0 0 4vh #ff0000;
  color: #ff0000;
}
.compBravura{
  box-shadow: 0 0 4vh #ff7b00;
  color: #ff7b00;
}
.compJustica{
  box-shadow: 0 0 4vh #ffff00;
  color: #ffff00;
}
.compBondade{
  box-shadow: 0 0 4vh #4ffc04;
  color: #4ffc04;
}
.compPaciencia{
  box-shadow: 0 0 4vh #00eeff;
  color: #00eeff;
}
.compIntegridade{
  box-shadow: 0 0 4vh blue;
  color: blue;
}
.compPerseveranca{
  box-shadow: 0 0 4vh #c800ff;
  color: #c800ff;
}
.imgCoracao{
  margin-top: 4vh;
  /* background-color: white; */
  height: 8vw;
  width: 8vw;
}
.coracaoDeterminacao{
  background-image: url(../assets/imgs/determinacao.png);
  background-size: cover;
}
.coracaoBravura{
  background-image: url(../assets/imgs/bravura.png);
  background-size: cover;
}
.coracaoJustica{
  background-image: url(../assets/imgs/justica.png);
  background-size: cover;
}
.coracaoBondade{
  background-image: url(../assets/imgs/bondade.png);
  background-size: cover;
}
.coracaoPaciencia{
  background-image: url(../assets/imgs/paciencia2.png);
  background-size: cover;
}
.coracaoIntegridade{
  background-image: url(../assets/imgs/integridade.png);
  background-size: cover;
}
.coracaoPerseveranca{
  background-image: url(../assets/imgs/perseveranca.png);
  background-size: cover;
}
.miniTitulo{
  margin-top: 2vh;
  font-size: 2vw;
  font-family: 'Determination Mono Web';
}
.txtCompetencia{
  width: 16vw;
  /* background-color: #00eeff; */
  margin-top: 2vh;
  font-size: 1.8vw;
  font-family: 'Determination Mono Web';
  text-align: center;
}
.sobreMim{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  padding: 0;
}
.tituloSobremim{
  font-weight: normal;
  font-size: 5vw;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 5vh;
  /* background-color: #00eeff; */
  color: #fff;
  font-family: 'Determination Mono Web';
}
.conteudoSobreMim{
  /* background-color: #00eeff; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 98vw;
  gap: 5vw;
}
.imgMinha{
  height: 30vw;
  background-image: url('../assets/imgs/fotoPixelada.png');
  background-size: cover;
  width: 30vw;
  background-color: #825e5e;
  animation: animacaoFoto 10s infinite;
}
@keyframes animacaoFoto {
  0% {
    background-image: url('../assets/imgs/fotoPixelada.png');
  }
  50%{
    background-image: url('../assets/imgs/fotoNaoPixelada.png');
  }
  100% {
    background-image: url('../assets/imgs/fotoPixelada.png');
  }
}
.txtSobreMim{
  margin-top: 5vh;
  width: 45vw;
  height: 60vh;
  font-size: 2vw;
}
.FacaParte{
  height: 100vh;
  padding: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  background-image: url(../assets/imgs/bgFacaParte.png);
  background-size: cover;
}
.tituloFacaParte{
  font-weight: normal;
  font-size: 10vh;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 3vh;
  color: #fff;
  /* background-color: #00eeff; */
  font-family: 'Determination Mono Web';
}
.conteudoFacaParte{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5vh;
  height: 75vh;
  width: 80vw;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #00eeff; */
}

.msgFacaParte{
  width: 85vw;
  font-size: 2.5vw;
  text-align: center;
}
.saveContainer{
  position: absolute;
  right: 10vw;
  top: 25vh;
  height: 25vh;
  width: 25vh;
  cursor: pointer;
}
.saveEstatico {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.saveAnimado {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
}
.saveContainer:hover .saveEstatico {
  opacity: 0;
}

.saveContainer:hover .saveAnimado {
  opacity: 1;
}
.saveContainer:hover .cadastro {
  color: #ffff00;
}
.cadastro{
  font-size: 4vh;
  padding: 0vh 1.5vh;
  color: #fff;
  font-family: 'Determination Mono Web';
  margin-bottom: 2vh;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 98.9vw;
  background-color: #000;
}
.logoFooter{
  font-size: 1vw;
}

