body{
    margin: 0;
    display: flex;
    position: relative;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-family: 'Determination Mono Web';
    align-items: center;
}
.titulo{
    font-family: 'Monster Friend Fore';
    color: white;
    font-size: 4vw;
    margin-top: 20vh;
}
.texto{
    color: white;
    font-size: 6vh;
}
.areaButtons{
    margin-top: 6vh;
    display: grid;
    height: 30vh;
    width: 30vw;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
}
.butao{
    height: 13vh;
    width: 13vw;
    font-size: 4vh;
    background-color: transparent;
    border: 0.5vh solid #fff;
    font-family: 'Determination Mono Web';
    cursor: pointer;
}
.butao:hover{
    color: #ffff00;
    border-color: #ffff00;
}
.brilhos {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(3, 34, 73, 0.1), rgba(20, 200, 255, 0.3), rgba(14, 172, 230, 0.5));
    animation: brilho 2s infinite;
  }
  @keyframes brilho {
    0% {
        height: 25vh;
    }
    50% {
        height: 20vh;
    }
    100% {
        height: 25vh;
    }
  }
  