body{
    margin: 0;
    display: flex;
    position: relative;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-family: 'Determination Mono Web';
    align-items: center;
}
.area_cutscene{
  display: none;
  position: absolute;
  z-index: 6;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  flex-direction: column;
  align-items: center;
}
.cutscene{
  height: 100vh;

}
@font-face {
  font-family:"font-sans";
  src: url(/public/font/pixel-comic-sans-undertale-sans-font.ttf) format("truetype");
}
.espacoSans{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  height: 35vh;
  width: 80vW;
}
.sannes{
    height: 35vh;
}
.inicial{
  position: absolute;
  bottom: 30vh;
  z-index: 4;
}
  .perguntas{
    position: absolute;
    color: #000;
    background-color: #FBFBFB;
    font-family: 'Determination Sans Web';
    width: 25vw;
    padding: 1vw;
    font-size: 3.2vh;
    right: 12vh;
    border-radius: 2vh;
  }
  .caixaBatalha{
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    margin-top: 1vh;
    height: 35vh;
    width: 80vw;
    background-color: #000;
    border: 1vh solid #fff;
    z-index: 1;
  }
  .enunciados{
    color: #fff;
    font-size: 3.5vh;
    margin-left: 2vh;
  }
  .cima{
    margin-top: 1vh;
  }
  .barraJogador{
    position: relative;
    display: none;
    width: 80vw;
    z-index: 5;
    height: 6vh;
    margin: 1vh 0;
    justify-content: center;
    align-items: center;
  }
  .barraVida{
    position: absolute;
    background-color: #ffff00;
    z-index: 5;
    width: 15vw;
    height: 6vh;
  }
  .jogador{
    margin-right: 20vw;
  }
  .vida{
    margin-right: 15vw;
  }
  .barraTxtJogador{
    color: #fff;
    font-size: 7vh;
    margin-left: 2vh;
    z-index: 4;
  }
  .areaButoes{
    display: none;
    height:12vh;
    width: 84vw;
    z-index: 5;
    justify-content: center;
    gap: 15vh;
  }
  .butao{
    height:12vh;
    padding:0 0.4vw;
    text-align: center;
    font-family: 'Determination Sans Web';
    font-size: 10vh;
    background-color: black;
    border: 0.5vh solid #FF7F27;
    color: #FF7F27;
    cursor: pointer;
  }
  .butao:hover{
    border-color: #ffff00;
    color: #ffff00;
    outline: none;
    box-shadow: none;
  }
  .brilhos {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #0322491a, #ff14144d, #e60e0e80);
    animation: brilho 2s infinite;
  }
  @keyframes brilho {
    0% {
        height: 40vh;
    }
    50% {
        height: 30vh;
    }
    100% {
        height: 40vh;
    }
  }