body{
    margin: 0;
    background-image: url(../assets/imgs/ultimoCorredor.png);
    background-size: 110% 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 6vh 12vw;
    font-family: 'Determination Mono Web';
}
.caixaPerfil{
    display: flex;
    flex-direction: column;
    height: 44vh;
    min-width: 9vw;
    background-color: black;
    border: 1vh solid #fff;
    padding: 3vh;
    gap: 2vh;
    position: relative;
}
.caixaMenu{
    display: none;
    height: 50vh;
    width: 32vw;
    background-color: black; 
    border: 1vh solid #fff;
}
.areaCaixas{
    gap: 1vh;
    display: flex;
    height: 50vh;
    width: 60vw;
}
.text{
    font-size: 4vh;
    color: #fff;
    width: 15vw;
    height: 5vh;
}
.items{
    margin-top: 3vh;
}
.usuario{
    align-self: center;
    text-align: center;
}
.sair{
    position: absolute;
    bottom: 3vh;
    align-self: center;
    text-align: center;
}
.sair:hover{
    color: #ffff00;
}